/* nav component */
.header{
  padding: 8px 0px;
  background-color: #fff;
  position: sticky;
  top:0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  z-index: 9;
}
.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.navBar .logo-part a{
   display: flex;
   gap: 8px;
   align-items: center;
}
.navBar .logo-part a img{
   width: 70px;
}
.navBar .logo-part a h3{
  font-size: 30px;
  font-weight: 600;
}
.account{
  display: flex;
  gap: 8px;
  align-items: center;
}
.account span svg{
  font-size: 22px;
}

.login-account button{
  font-size: 14px !important;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: rgb(82, 49, 230) ;
  color: #fff;
  border: 0px;

}


