/* nav component */
.header{
  padding: 8px 0px;
  background-color: #fff;
}
.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0%;
  left: 0%;
  width: 100%;
}
.navBar .logo-part a{
   display: flex;
   gap: 8px;
   align-items: center;
}
.navBar .logo-part a img{
   width: 70px;
}
.navBar .logo-part a h3{
  font-size: 30px;
  font-weight: 600;
}
.account{
  display: flex;
  gap: 8px;
  align-items: center;
}
.account span svg{
  font-size: 22px;
}
